@media only screen and (min-width: 600px) {

.toggle {
	display: none;
}

.navbar-top {
	text-align: left;
}

#nav-display {
	padding: 5px;
	display: inline-block;
	float: right;
}

.navbar {
	width: 100%;
	min-height: 50px;
	height: 50px;
	right: 0;
}

.navLinks {
	border-top: none;
}

.navLinks li {
	border-bottom: none;
	min-width: 90px;
}
}