					<h1>Projects</h1>
					<p>These are some of the projects I have built. Check them out.</p>
					<div class="gallery">
						<div class="gallery-item">
							<a href="mud-creek-min/index.html">
							<img src="img/proGal/mud-creek-logo.svg" alt="mud creek project link">
							</a>
						</div>
						<div class="gallery-item">
							<a href="fitsii-min/index.html">
							<img src="img/proGal/fitsii.svg" alt="fitsii link">
							</a>
						</div>
						<div class="gallery-item">
							<a href="http://www.ritualforms.com">
							<img src="img/proGal/ritualforms.svg" alt="ritualforms link">
							</a>
						</div>
						<div class="gallery-item">
							<a href="http://www.stephanyswoodworking.com">
							<img src="img/proGal/stephanys-woodworking.svg" alt="stephanys woodworking link">
							</a>
						</div>
						<div class="gallery-item">
							<a href="quiz.html">
							<img src="img/proGal/quiz.svg" alt="Quiz link">
							</a>
						</div>
						<div class="gallery-item">
							<a href="instagallery.html">
							<img src="img/proGal/instaGallery.svg" alt="gallery populated by instagram link">
							</a>
						</div>	
						<div class="gallery-item">
							<a href="forms.html">
							<img src="img/proGal/forms.svg" alt="sample forms link">
							</a>
						</div>
					</div>