/* forms *****************************************************************
***************************************************************************/

.height-container {
	background-color: #cfe0ca;
}

.main-container {
	background-color: #cfe0ca;
	padding: 150px 0 50px;
}

.button-container {
	text-align: center;
}

.button {
	display: inline-block;
	background-color: #a3c6b6;
	color: #fff;
	padding: 5px;
	margin: 0 10px;
	min-width: 70px;
	box-shadow: 0 0 5px rgba(0,0,0,.5) inset;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	color: #f4f4f4;
	background-color: #9cb7aa;
}

/* form-1 ************************************
**********************************************/

.form-1 {
	max-width: 500px;
	color: #fff; 
	background-color: #a3c6b6;
	border-radius: 10px;
	margin: 20px auto;
}

.form-1 h1 {
	margin: auto;
}

.form-1 label {
	display: block;
	text-align: left;
	padding: 0 5%;
}

.form-1 li {
	display: block;
	width: 100%;
	margin:10px 0;
	padding: 0;
}

.form-1 input[type="text"],
.form-1 input[type="email"],
.form-1 textarea {
	width: 90%;
	height: auto;
	color: #999;
	outline: none;
}

.form-1 textarea {
	height: 100px;
}

.form-1 input[type="text"]:focus,
.form-1 input[type="email"]:focus,
.form-1 textarea:focus {
	box-shadow: 0 0 7px rgb(162,237,201) inset;
}

.form-1 button {
	margin: 5px;
	padding: 2px;
	height: 35px;
	width: 90px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 2px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.6) inset;
	outline: none;
}

.form-1 button:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.6) inset;
}

/* form 2 ***************************************
*************************************************/

#form-2 {
	display: none;
}

.form-2 {
	max-width: 500px;
	color: #fff; 
	background-color: #a3c6b6;
	border-radius: 10px;
	margin: 20px auto;
}

.form-2 h1 {
	margin: auto;
}

.radio label {
	display: block;
	@media only screen and (min-width: 650px) {
		display: inline-block;
	}
}

.block-label {
	display: block;
	text-align: left;
	padding: 0;
}

.form-2 li {
	display:  inline-block;
	margin:10px 2%;
	padding: 0;
}

.form-2 input[type="text"],
.form-2 input[type="email"],
.form-2 input[type="tel"],
.form-2 textarea {
	width: 100%;
	height: auto;
	color: #999;
	outline: none;
}

.form-2 textarea {
	height: 100px;
}

.form-2 input[type="text"]:focus,
.form-2 input[type="email"]:focus,
.form-2 textarea:focus {
	box-shadow: 0 0 7px rgb(162,237,201) inset;
}

.form-2 button {
	margin: 5px;
	padding: 2px;
	height: 35px;
	width: 90px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 2px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.6) inset;
	outline: none;
}

.form-2 button:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.6) inset;
}

/* form-3 ******************************************
****************************************************/

#form-3 {
	display: none;
}

.form-3 {
	max-width: 500px;
	color: #fff; 
	background-color: #a3c6b6;
	border-radius: 10px;
	margin: 20px auto;
}

.form-3 h1 {
	margin: auto;
}

.form-3 label {
	display: block;
	@media only screen and (min-width: 650px) {
		display: inline-block;
	}
}

.selection li {
	text-align: left;
}

.toppings {
	text-align: right;
}

.form-3 li {
	display:  inline-block;
	margin:10px 2%;
	padding: 0;
}

.form-3 input[type="text"],
.form-3 input[type="email"],
.form-3 input[type="tel"],
.form-3 textarea {
	width: 100%;
	height: auto;
	color: #999;
	outline: none;
}

.form-3 textarea {
	height: 100px;
}
.form-3 select {
	width: 100%;
	height: auto;
	color: #999;
	outline: none;
}

.form-3 input[type="text"]:focus,
.form-3 input[type="email"]:focus,
.form-3 textarea:focus {
	box-shadow: 0 0 7px rgb(162,237,201) inset;
}



.form-3 fieldset {
	border: 2px solid rgba(255,255,255,0.8);
	padding: 0;
	margin: 0;
	width: 100%;
}

.form-3 button {
	margin: 5px;
	padding: 2px;
	height: 35px;
	width: 100px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 2px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.6) inset;
	outline: none;
}

.form-3 button:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.6) inset;
}

.quarter {
	width: 20%;
}

.half {
	width: 45%;
}

.full {
	width: 96%;
}

.right-float {
	float: right;
}

group:after {
	content: "";
	display: table;
	clear: both;
}

/* media queries *******************************
************************************************/

@media only screen and (min-width: 650px) {
	
/* form-2 ******************************/
	.radio label {
	display: inline-block;
	
/* form-3 ******************************/
	
}
	.form-3 label {
	display: inline-block;
}
}