@media(min-width:500px) {

.content {
	width: 45%;
}

}

@media only screen and (min-width: 650px) {

.toggle {
 display: none;
}
.navbar-top {
	display: inline-block;
}

#nav-display ,
.navLinks li {
	display: inline-block;
}

#nav-display {
	margin-right: 15px;
	padding: 0px;
	float: right;
}

#nav-display ul {
	padding: 8px;
}

.content {
	width: 28.8%;
}
	
}



